# Proyecto RL Mario - Entorno Python 3.11/macOS
torch>=2.3.0
stable-baselines3==2.6.0
gym==0.26.2
gym-super-mario-bros==7.4.0
nes-py==8.2.1
pyglet==1.5.21
opencv-python>=4.7.0
numpy<2.0.0
cleanrl
tqdm